.footer {
  margin-top: 60px;
  padding: 20px;
  background-color: #f8f8f8;
  color: #777;
  font-size: 14px;
  text-align: center;
}

.footer-content {
  text-align: center;
}

.footer-text {
  font-size: 16px;
  color: #777;
  margin: 0;
}